.selection-toolbar {
    display: none;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
	position: absolute;
	position: absolute;
	bottom: 0.5rem;
	left: 0;
	width: 100%;
	padding: 0 2rem 0 1rem;
	z-index: 100;
	user-select: none;
}
.selection-count {
    font-size: 0.9rem;
    color: var(--text-secondary-color);
	background-color: var(--header-glass-bg-color);
	backdrop-filter: blur(7px);
    font-weight: 500;
	padding: 0.5rem 1.5rem;
	border-radius: 2rem;
	text-align: center;
	vertical-align: middle;
}
.selection-actions {
    display: flex;
    align-items: center;
	justify-content: center;
    gap: 0.5rem;
}
.selection-forward-btn,
.selection-delete-btn,
.cancel-selection-btn {
    cursor: pointer;
    color: var(--text-secondary-color);
    display: flex;
    align-items: center;
    justify-content: center;
	border-radius: 2rem;
	padding: 0.5rem;
	background-color: var(--header-glass-bg-color);
	backdrop-filter: blur(7px);
}
.selection-forward-btn svg,
.selection-delete-btn svg {
    width: 1.4rem;
    height: 1.4rem;
}
.cancel-selection-btn {
    font-size: 0.9rem;
    font-weight: 500;
	padding: 0.5rem 1.5rem;
}